@import "src/scss/var.scss";

@mixin form() {
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: $breakPointLG) {
        flex-direction: column;
        align-items: flex-start;
    }
}

@mixin checkbox() {
    position: relative;

    min-width: 50px;
    width: 50px;
    height: 20px;

    background-color: $green;
    border-radius: 50px;
    transition: 0.2s linear;

    cursor: pointer;

    &::before {
        content: "";

        position: absolute;
        top: -3px;
        left: 0px;

        display: inline-block;
        width: 25px;
        height: 25px;

        background-color: $green;
        border-radius: 50%;
        box-shadow: 1px 0px 1px $dark-green;
        transition: 0.2s linear;
    }

    @media screen and (max-width: $breakPointXL) {
        min-width: 35px;
        width: 35px;
        height: 15px;

        &::before {
            width: 20px;
            height: 20px;
        }
    }

    @media screen and (max-width: $breakPointLG) {
        transform: rotate(90deg);
    }
}

@mixin buttons() {
    padding: 10px;

    position: absolute;
    top: calc(50% - 22px);

    width: 44px;
    height: 44px;

    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
    }
}
