$green: #4fbb65;
$dark-green: #3e934f;
$purple: #483D8B;
$dark-purple: #3c3475;
$silver: #c0c0c0;
$dark-silver: #8c8c8c;
$whitesmoke: #f5f5f5;
$bc: #fdf5f5;

$breakPointXXL: 1400px;
$breakPointXL: 1200px;
$breakPointLG: 992px;
$breakPointMD: 768px;
$breakPointSM: 576px;